@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MigraTech</h1>
    <h3> Sua rede social para transição de carreira na área de tecnologia </h3>
   
</div>
