@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">MigraTech</h2>
    <h5> Sua rede social para transição de carreira na área de tecnologia </h5>
   
    <img src="https://img.freepik.com/vetores-gratis/jovens-conversando-com-dispositivos_23-2148447306.jpg"/>
</div>
